.menu_box ul {
  text-transform: capitalize;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu_box li {
  font-size: 1.5rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
}
.menu_box li:hover {
  background-color: #ebebeb;
}
.menu_box li {
  border-bottom: 1px solid #999;
  padding: 1rem 0.5rem;
}
