.productDetails_container {
  padding: 5rem;
  /* background-color: red; */
  display: flex;
  gap: 3.5rem;
}

.productDetails_image {
  height: 40rem;
  width: auto;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
}

.box_one {
  flex-basis: 30%;
}
.box_two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  text-transform: capitalize;
}

/* .details_box {
  justify-content: start;
} */
.details_box h1 {
  font-size: 4rem;
  margin: 2rem 0;
}
.details_box h2 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 300;
}

.quantity_box {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.quantity_box h4 {
  margin-right: 2rem;
  font-weight: 600;
}
.quantity {
  width: 3rem;
  outline: none;
}

.description {
  margin: 3rem 0 2rem;
}
.description h1 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}
.description p {
  color: rgb(0 0 0 / 70%);
}
.btn {
  display: inline-block;
  border: none;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  padding: 1rem 1.8rem;
  color: #222;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  color: #fff;
  background-color: #000;
}

@media only screen and (max-width: 600px) {
  .productDetails_container {
    padding: 2rem;
  }
  .box_one {
    display: none;
  }
  .box_two {
    flex-basis: 100%;
    padding: 2rem;
  }
} ;
